:root{
    --min-height-sec:600px;
    --min-height-sec-sm:400px;
    --primary-headings-color:#0F2B4C;
    --primary-headings-color2:#FAB642;
    --primary-text-color1:#0F2B4C;
    --primary-light-color:#fff;
    --primary-gray:#FAFAFA;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
    color: #fff;
    font-family: poppins;
}
.py-6{
padding-block: 5rem;
}
/* fonts  */
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
/* fonts  */
.bg-blue-sec{
  background-color: var(--primary-headings-color);
}
.bg-grey-sec{
  background-color: var(--primary-gray);
}
.color_text{
    color: var(--primary-headings-color2);
}
.min-height-sec{
    min-height: var(--min-height-sec);
}
.min-height-sec-sm{
    min-height: var(--min-height-sec-sm);
}
.secton-banner-main{
    background-image: url(./banner-bg.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-primary-button{
    background-color: transparent;
    border:1px solid var(--primary-headings-color2);
    border-radius: 4px;
    background-image: url(./button-bg.png);
    background-position: center bottom;
    padding: 0.5rem 2rem;
    background-repeat: no-repeat;
}
.heading-secondary{
    color: var(--primary-headings-color);
}
.step-btn{
  background-color: #0E2D5110;
}
.step-btn-active{
  background-image: linear-gradient(#FED58F 100%, #F6AE31 100%);
}
.step-title{
  font-size: clamp(10px,1.5vw,24px);
  width: clamp(80px,15vw,210px);
}
